{% extends 'base.html' %}
{% block pageheader %}
                    <h1 class="page-header">Backend Server Detail</h1>
{% endblock %}
{% block panelheading %}
                            Backend Server Detail
{% endblock %}
{% block content %}
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">

                                    <form role="form" method="post">
                                        {% csrf_token %}
                                        {{ form }}
                                        <br/>
                                        <button type="submit" class="btn btn-default">Apply</button>
                                    </form>

                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->

{% endblock %}