Source: haproxyweb
Section: unknown
Priority: optional
Maintainer: root <root@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/haproxyweb.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/haproxyweb.git;a=summary

Package: haproxyweb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2, mysql-server, libapache2-mod-wsgi, haproxy, python-mysqldb, python-sqlalchemy, python-pip
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
